/* .vie:not(:first-child){
    margin-right:20px
} */

* {box-sizing:border-box;}

body {
    background-image:url(../image/westowrld.jpg);
    background-size:100%;
    width: 100%;
    height: 100%;
    font-family: Arial, Helvetica, sans-serif;
}

.landing {
    position: relative;
   }

/* TITRE DU JEUX ET START    */

.game {
display:flex;
justify-content: space-between;
margin-top: 120px;
padding: 0 100px;
} 

.title {
    font-size: 500%;
    text-align: center;
    color: red;
    padding-top: 50px;
}
.buttonstart {
    position: absolute;
    top: 120%;
    left: 50%;
    transform: translate(-50%, -50%);
    color:white;
    font-size: 200%;
    background-color: green;
}

/* Nom des joueurs */

.name1 {
    color:white;
}

.name2 {
    color:white;
    padding-left: 200px;
}
.player1 {
    height:16em;
}

.player2 {
    height:16em;
}


/* Unite de balles et vies */

.vie1 {
    height:2em;
}

.vie2 {
    height:2em;
}

.vie3 {
    height:2em;
}

.bullet1 {
    height:1.5em;
}

.bullet2 {
    height:1.5em;
}

.bullet3 {
    height:1.5em;
}

.unit2{
    padding-left:250px;
}

.transparency {
    opacity: 0.5;
}


/* Boutons de jeux  */

.load {
    background-color: orange;
    font-size: 130%;
}

.shot {
    background-color:red;
    font-size: 130%;
}

.shield {
    background-color:grey;
    font-size: 130%;
}

/* IMAGES D'ANIMATIONS */

.billyAndStuff {
    display:flex;
} 

.joeAndStuff {
    display:flex;
}

.loadImage {
    position: relative;
    height : 4em;
}

.shotImage {
    position: relative;
    height : 4em;
}

.shieldImage {
    position:relative;
    height : 17em;
}

.hidden {
    visibility: hidden;
}


.image1 {
    position: absolute;
    /* display: none; */
}

.image2 {
    position: absolute;
    /* display: none; */
}

/* PLACEMENT DES BOUTONS PLAYER2 A DROITE */

.animations2 {
    width: 200px;
}

.myButtons2 {
    padding-left: 200px;
}

